  #listaBasicaContInterno{
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0cap;
      text-align: center; /* Centrar texto horizontalmente */
    }
    
    th, td {
      border: 1px solid black; 
      vertical-align: middle; /* Centrar texto verticalmente */
    }
    
    thead {
      background-color: #FBFBE2; /* Color de fondo del título */
      position: sticky;
      top: 0;
      
      z-index: 2;
    }
    
    th {
      font-size: 36px; /* Fuente de título */
      font-weight: bold; /* Negrita */
      height: 40px; 
      border-bottom: 1px solid black;
    }
    
    tbody tr:nth-child(odd) {
      background-color: white; /* Fondo blanco para filas impares */
    }
    
    tbody tr:nth-child(even) {
      background-color: #DCDCDC; /* Fondo para filas pares */
    }
    
    input[type="checkbox"] {
      width: 20px; /* Ancho de checks */
      height: 20px; /* Alto de checks */
    }
  
    tbody tr {
      height: 30px; /* Altura de filas */
      font-size: 24px; /* Fuente de filas */
      font-weight: normal; /* Regular */
    }
  
    tbody tr:hover {
      background-color: lightblue !important;
    }
  
  
    tbody{
      overflow: auto;
    }
  }

  #listaBasicaContInterno{
    height: 100%;
    width: 100%;
    padding: 0;

  }
 

