.App{
  background-color: #dcdcdc;
  width: 100vw;
  height: 100svh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.auxListaAvanzada{
  width: 93%;
  /* Valor ajustado para que las 15 filas coincidan con el tamaño */
  height: 438px;
  overflow: auto;
  border: 1px solid black;
  /* border-radius: 12px; */
  /* background-color: yellow; */
}