.App{
  background-color: white;
  width: 100vw;
  height: 100svh;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#contLogoPrincipal{
  height: 150px;
  aspect-ratio: 1;
  background-color: yellowgreen;
  position: absolute;
  top: 0;
  left: 0;
}
.contBtnPrincipal{
  /* background-color: antiquewhite; */
  width: 50%;
  height: 120px;
  border-radius: 12px;
  text-transform: uppercase;
}
#tituloPagPrincipal{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 45px;
  letter-spacing: 7px;
  margin-top: -60px;
}
#contBtnGestInf{
}




.auxListaAvanzada{
  width: 93%;
  /* Valor ajustado para que las 15 filas coincidan con el tamaño */
  height: 438px;
  overflow: auto;
  border: 1px solid black;
  /* border-radius: 12px; */
  /* background-color: yellow; */
}