*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul{
    list-style: none;
}
.btnOff{
    opacity: 60%;
    pointer-events: none;
}
.btnOn{
    opacity: 100%;
}
button{
    overflow: hidden;
}
input[type=checkbox] {
    height: 20px;
    width: 20px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}
tr{
    cursor: pointer;
}