:root{
--colorPrincipal: #39A900;
--colorFondoSuave: #FBFBE2;
--colorNegativoHorario: #385C57;
--colorGrisLectura: #CED4DA;
--colorDestructivo: #DC3545;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}
ol, ul{
    list-style: none;
}
.btnOff{
    opacity: 60%;
    pointer-events: none;
}
.btnOn{
    opacity: 100%;
}
button{
    overflow: hidden;
}
input[type=checkbox], input[type=radio] {
    height: 20px;
    width: 20px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}
tr{
    cursor: pointer;
}
button{
    cursor: pointer;
}

