.filtros {
    width: 90%;
    margin-bottom: 10px;
    border: 4px solid black;
    border-radius: 5px;
    padding: 10px; /* Para agregar espacio interno */
    display: flex; /* Usar flexbox para organizar elementos */
    flex-direction: column; /* Alinear elementos en columna */
    gap: 10px; /* Separación entre los elementos */
  }
  h3{
    text-align: center;
  }